* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  text-decoration: none;
}
* img {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: transparent;
}

.main {
  background: #f5f5f5;
}
.main .border-none {
  border: none !important;
}
.main .header {
  background: linear-gradient(-180deg, #f53d2d, #f63);
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 5px 0;
}
.main .header .popup-card {
  width: 60px;
  height: 0;
  padding: 0;
  top: 35px;
  left: 0;
  opacity: 0;
  display: flex;
  position: absolute;
  color: #000;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  z-index: 100;
  font-size: 1.2rem;
  transition: all ease 0.3s;
}
.main .header .popup-card span {
  font-size: 1.1rem;
  opacity: 0.8;
}
.main .header .popup-card img {
  width: 30%;
  margin-bottom: 20px;
}
.main .header .popup-card::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-30%) translateY(-35%) rotate(45deg);
  background: #fff;
  padding: 10px;
  background-clip: content-box;
}
.main .header__wrapper .header__navbar {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.main .header__wrapper .header__navbar-list {
  display: flex;
  list-style: none;
}
.main .header__wrapper .header__navbar-item {
  display: flex;
  margin: auto;
  padding: 0 10px;
  color: white;
}
.main .header__wrapper .header__navbar-item-link {
  color: white;
  position: relative;
}
.main .header__wrapper .header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.7);
}
.main .header__wrapper .header__navbar-item-link .navbar-item-link__download-wrapper {
  display: none;
  position: absolute;
  width: 250%;
  z-index: 1;
  padding: 5px 0;
  border-radius: 5px;
}
.main .header__wrapper .header__navbar-item-link .navbar-item-link__download-wrapper .navbar-item-link__download {
  margin-top: 10px;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.main .header__wrapper .header__navbar-item-link .navbar-item-link__download-wrapper .navbar-item-link__download img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.main .header__wrapper .header__navbar-item-link .navbar-item-link__download-wrapper .navbar-item-link__download-app {
  padding: 10%;
}
.main .header__wrapper .header__navbar-item-link .navbar-item-link__download-wrapper .navbar-item-link__download-app img {
  width: 40%;
  display: inline-block;
}
.main .header__wrapper .header__navbar-item-link-download:hover .navbar-item-link__download-wrapper {
  display: block;
}
.main .header__wrapper .header__navbar-item-link i {
  margin: 5px;
  font-size: 1.3rem;
}
.main .header__wrapper .header__navbar-item-link span {
  line-height: 1.5rem;
  align-items: center;
  display: flex;
}
.main .header__wrapper .header__navbar-item + .header__navbar-item {
  border-left: 1px solid #f86c5b;
}
.main .header__wrapper .header__navbar-item .notification .notify-card__login {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.main .header__wrapper .header__navbar-item .notification .notify-card__login .register {
  justify-content: center;
  flex: 1;
  padding: 10px;
  background: #f5f5f5;
}
.main .header__wrapper .header__navbar-item .notification .notify-card__login .register:hover {
  color: #fb5533;
  background: #e8e8e8;
}
.main .header__wrapper .header__navbar-item .notification .notify-card__login .login {
  justify-content: center;
  flex: 1;
  padding: 10px;
  background: #f5f5f5;
}
.main .header__wrapper .header__navbar-item .notification .notify-card__login .login:hover {
  color: #fb5533;
  background: #e8e8e8;
}
.main .header__wrapper .header__navbar-item .notification:hover .notify-card {
  width: 400px;
  padding: 90px 50px;
  height: auto;
  left: -340px;
  opacity: 1;
  z-index: 1;
}
.main .header__wrapper .header__navbar-item .notification:hover .notify-card__login {
  display: flex;
}
.main .header__wrapper .header__navbar-search {
  padding: 20px 10px 8px;
}
.main .header__wrapper .header__navbar-search-logo {
  width: 15%;
  filter: brightness(0) invert(1);
}
.main .header__wrapper .header__navbar-search-logo img {
  max-width: 162px;
  max-height: 50px;
}
.main .header__wrapper .header__navbar-search-box {
  width: 70%;
  color: white;
}
.main .header__wrapper .header__navbar-search .search-box__search {
  display: flex;
  background-color: #fff;
  padding: 3px;
  border-radius: 2px;
  position: relative;
}
.main .header__wrapper .header__navbar-search .search-box__search-input {
  width: 92%;
  border: none;
  font-size: 1.1rem;
  padding: 0 10px;
  outline: none;
  opacity: 0.8;
}
.main .header__wrapper .header__navbar-search .search-box__search-input:focus {
  opacity: 1;
}
.main .header__wrapper .header__navbar-search .search-box__search-button {
  width: 8%;
  background: #fb5533;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-radius: 3px;
}
.main .header__wrapper .header__navbar-search .search-box__search-button:hover {
  opacity: 0.8;
}
.main .header__wrapper .header__navbar-search .search-box__search-button i {
  font-size: 1.1rem;
}
.main .header__wrapper .header__navbar-search .search-box__search-result {
  width: 90%;
  display: none;
  background: #fff;
  position: absolute;
  top: 113%;
  left: 0;
  box-shadow: 0px 0px 2px #333;
  border-radius: 2px;
}
.main .header__wrapper .header__navbar-search .search-box__search-result .search-result {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.main .header__wrapper .header__navbar-search .search-box__search-result .search-result svg {
  fill: #fb5533;
  height: 90%;
  margin-right: 1%;
}
.main .header__wrapper .header__navbar-search .search-box__search-result .search-result span {
  font-size: 1.15rem;
  color: #333;
}
.main .header__wrapper .header__navbar-search .search-box__search-result .search-result.default {
  justify-content: space-between;
  height: 45px;
}
.main .header__wrapper .header__navbar-search .search-box__search-result .search-result.default img {
  width: 20%;
}
.main .header__wrapper .header__navbar-search .search-box__search-result .search-result:hover {
  background: #f5f5f5;
}
.main .header__wrapper .header__navbar-search .search-box__recent-search .recent-search__list-items {
  display: flex;
  list-style: none;
  padding-top: 5px;
}
.main .header__wrapper .header__navbar-search .search-box__recent-search .recent-search__item a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.9rem;
  padding-right: 15px;
}
.main .header__wrapper .header__navbar-search-cart {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .header__wrapper .header__navbar-search-cart .shopping-cart {
  cursor: pointer;
  position: relative;
}
.main .header__wrapper .header__navbar-search-cart .shopping-cart i {
  color: white;
  font-size: 1.6rem;
  padding: 12px;
}
.main .header__wrapper .header__navbar-search-cart .shopping-cart:hover .cart-card {
  width: 400px;
  padding: 90px 50px;
  height: auto;
  left: -340px;
  opacity: 1;
  z-index: 1;
}
.main .container {
  width: 100%;
}
.main .container__homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.main .container__homepage > * {
  width: 65%;
  min-width: 1200px;
  margin-bottom: 25px;
}
.main .container__homepage .homepage__banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  width: 100%;
  background: #fff;
}
.main .container__homepage .homepage__banner .banner-slider {
  display: flex;
  width: 65%;
  min-width: 1200px;
}
.main .container__homepage .homepage__banner .banner-slider img {
  display: block;
  width: 100%;
  padding: 2px 0;
  border-radius: 5px;
}
.main .container__homepage .homepage__banner .banner-slider .slider__items {
  display: flex;
  flex: 2;
  overflow: hidden;
  position: relative;
}
.main .container__homepage .homepage__banner .banner-slider .slider__items .items {
  display: flex;
  transition: all 0.3s;
}
.main .container__homepage .homepage__banner .banner-slider .slider__items .items__arrow {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 50px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  opacity: 0;
  color: #fff;
  transition: all 0.3s;
  z-index: 1;
}
.main .container__homepage .homepage__banner .banner-slider .slider__items .items__arrow.prev {
  left: 0;
}
.main .container__homepage .homepage__banner .banner-slider .slider__items .items__arrow.prev:hover {
  background: rgba(0, 0, 0, 0.35);
}
.main .container__homepage .homepage__banner .banner-slider .slider__items .items__arrow.next {
  right: 0;
}
.main .container__homepage .homepage__banner .banner-slider .slider__items .items__arrow.next:hover {
  background: rgba(0, 0, 0, 0.35);
}
.main .container__homepage .homepage__banner .banner-slider .slider__items:hover .items__arrow {
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
.main .container__homepage .homepage__banner .banner-slider .slider__right {
  flex: 1;
  margin-left: 5px;
}
.main .container__homepage .homepage__hotevent {
  display: flex;
  justify-content: space-around;
  background: #fff;
  border-radius: 5px;
}
.main .container__homepage .homepage__hotevent .event {
  width: 10%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}
.main .container__homepage .homepage__hotevent .event img {
  width: 50%;
  display: block;
  margin: 10px 0;
}
.main .container__homepage .homepage__hotevent .event span {
  font-size: 1.1rem;
  opacity: 0.9;
}
.main .container__homepage .homepage__hotevent .event:hover {
  transform: translateY(-5px);
}
.main .container__homepage .homepage__news-banner {
  display: flex;
}
.main .container__homepage .homepage__news-banner img {
  width: 100%;
}
.main .container__homepage .homepage__main-categories .main-categories__title {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 20px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.05);
  background: #fff;
}
.main .container__homepage .homepage__main-categories .main-categories__title span {
  font-size: 1.4rem;
  opacity: 0.5;
}
.main .container__homepage .homepage__main-categories .main-categories__list-categories {
  position: relative;
}
.main .container__homepage .homepage__main-categories .main-categories__list-categories .list-categories__items {
  overflow: hidden;
}
.main .container__homepage .homepage__main-categories .main-categories__list-categories .list-categories__items .items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
  transition: all 0.3s;
}
.main .container__homepage .homepage__main-categories .main-categories__list-categories .list-categories__items .items .item {
  width: 10%;
  height: 150px;
  padding: 15px 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.main .container__homepage .homepage__main-categories .main-categories__list-categories .list-categories__items .items .item-image {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  width: 75%;
  height: 70%;
  margin-bottom: 5px;
  color: transparent;
}
.main .container__homepage .homepage__main-categories .main-categories__list-categories .list-categories__items .items .item-name {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 30%;
}
.main .container__homepage .homepage__main-categories .main-categories__list-categories .list-categories__items .items .item-name span {
  font-size: 1.2rem;
  opacity: 0.8;
  line-height: 1.8rem;
}
.main .container__homepage .homepage__main-categories .main-categories__list-categories .list-categories__items .items .item:hover {
  transform: scale(1.01) translateZ(0);
  border-color: rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 0.8125rem 0 rgba(0, 0, 0, 0.05);
}
.main .container__homepage .homepage__main-categories .main-categories__list-categories .list-categories__arrow {
  position: absolute;
  visibility: hidden;
  z-index: 1;
  width: 30px;
  height: 30px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  top: 50%;
  transition: all 0.3s;
}
.main .container__homepage .homepage__main-categories .main-categories__list-categories .list-categories__arrow.show {
  visibility: visible;
}
.main .container__homepage .homepage__main-categories .main-categories__list-categories .list-categories__arrow.prev {
  left: 0;
  transform: translateX(-50%) translateY(-50%);
}
.main .container__homepage .homepage__main-categories .main-categories__list-categories .list-categories__arrow.prev:hover {
  transform: scale(1.7) translateX(calc(-50%/1.7)) translateY(calc(-50%/1.7));
}
.main .container__homepage .homepage__main-categories .main-categories__list-categories .list-categories__arrow.next {
  right: 0;
  transform: translateX(50%) translateY(-50%);
}
.main .container__homepage .homepage__main-categories .main-categories__list-categories .list-categories__arrow.next:hover {
  transform: scale(1.7) translateX(calc(50%/1.7)) translateY(calc(-50%/1.7));
}
.main .footer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  background: #fff;
  border-top: 5px solid #fb5533;
}
.main .footer__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  min-width: 1200px;
  padding: 40px;
}
.main .footer__about h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}
.main .footer__about img {
  width: 10%;
}

/*# sourceMappingURL=base.css.map */
